@import url("reset.css");

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding-right: 30px;
  padding-left: 30px;
}

.title {
  font-size: 42px;
  color: #c59d5f;
}

.article {
  width: 600px;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 5px;
    .fas {
      cursor: pointer;
      color: #c59d5f;
      font-size: 30px;
      transition: 300ms all;
    }
  }
  &-text {
    border-top: 1px solid #c59d5f;
    padding-top: 20px;
    color: hsl(210, 22%, 49%);
    line-height: 150%;
    font-size: 18px;
    margin-top: 20px;
    display: none;
  }
}

.show {
  > .article-text {
    display: block;
  }
}

.rotate {
  transform: rotate(180deg);
}
